# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS
.DS_Store
**/.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Local data
data/*.csv
data/*.zip

# PostgreSQL / local database files
*.sqlitedb

# Task 2 / ML artifacts
# Ignore large/generated model and data files.

tasks/task-02-notebooks/artifacts/**/*.pkl
tasks/task-02-notebooks/artifacts/**/*.joblib
tasks/task-02-notebooks/artifacts/**/*.parquet
tasks/task-02-notebooks/artifacts/**/*.csv