# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Local data
data/*.csv
data/*.zip

# PostgreSQL / local database files
*.sqlitedb
